@use "@/styles/tokens" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;

    @media screen and (max-width: $breakpoint-desktop) {
      font-size: var(--font-size-xxl);
    }

    @media screen and (max-width: $breakpoint-tablet) {
      font-size: var(--font-size-xl);
    }
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin-top: var(--spacing-lg);

  .description {
    margin-bottom: var(--spacing-lg);

    @media screen and (max-width: $breakpoint-desktop) {
      font-size: var(--font-size-lg);
    }

    @media screen and (max-width: $breakpoint-tablet) {
      font-size: var(--font-size-md);
    }
  }
}

.benefitsContainer {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-bottom: var(--spacing-lg);
  gap: var(--spacing-sm);

  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
}

.cta {
  margin: var(--spacing-lg) 0 var(--spacing-xxl);
}
