@use "@/styles/tokens" as *;

:root {
  --chatlist-font-color: var(--color-black);
}

:global(.dark) {
  --chatlist-font-color: var(--color-white);
}

.messageList {
  padding: 0 5rem;

  li {
    list-style: none;
    padding: 1rem 0;
  }
}
