.wrapper {
  .apiKeyContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .apiKeyRow {
      label {
        padding-bottom: 0.25rem;
      }

      input {
        margin-right: 0.5rem;
      }

      button {
        color: var(--color-brand);
        background-color: var(--color-primary);
        inset: none;
        border: 1px solid var(--color-brand);
        padding: 0 4px;
        border-radius: 0.25rem;
        cursor: pointer;

        &:hover {
          background-color: var(--color-secondary);
        }
      }
      .provider {
        min-width: 100px;
        display: block;
        text-transform: capitalize;
      }
    }
  }
}
