@use "@/styles/tokens" as *;

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.newchat {
  color: var(--text-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  text-align: center;
  text-decoration-color: var(--color-brand);
  text-decoration: underline;
  transition: all 0.3s ease;
}
