.layout {
  display: flex;
  flex: 1 1 auto;
  height: calc(100vh - 4rem); // Adjust for header height

  .main {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      display: flex;
      height: 100%;
      overflow-y: auto;
      width: 100%;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;
      padding-top: var(--spacing-lg);
    }
  }
}
