@use "@/styles/tokens" as *;

:root {
  --login-text-color: var(--color-black);
}

:global(.dark) {
  --login-text-color: var(--color-white);
}

.wrapper {
  width: 100%;
  .header {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    margin-bottom: var(--spacing-lg);
    text-align: center;
  }

  .input {
    font-family: var(--font-roboto), sans-serif;
    display: flex;
    margin-bottom: var(--spacing-lg);
    position: relative;
    label {
      display: block;
      background-color: var(--color-primary);
      font-size: 1rem;
      position: absolute;
      top: -0.6rem;
      left: 1.5rem;
      padding: 0 0.3rem;
    }
    input {
      background-color: transparent;
      width: 100%;
      border: 1px solid var(--color-brand-dark);
      height: var(--spacing-xxl);
      border-radius: var(--spacing-sm);
      color: var(--login-text-color);
      padding: 0 var(--spacing-sm);

      &:focus,
      &:active {
        border: 1px solid var(--color-brand);
        outline: var(--color-brand);
      }
    }
  }

  .loginWrapper {
    .loginButton {
      font-family: var(--font-roboto), sans-serif;
      color: var(--login-text-color);
      width: 100%;
      height: var(--spacing-xxl);
      background-color: var(--color-brand);
      border: none;
      border-radius: var(--spacing-sm);
      font-size: var(--font-size-lg);
      cursor: pointer;

      &:hover,
      &:active {
        background-color: var(--color-brand-dark);
      }
    }
  }
}
