.container {
  display: flex;
  position: relative;
}

.popupMenu {
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  color: var(--color-white);
  list-style: none;
  color: var(--color-white);
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: var(--color-black);
}

.settingsButton {
  display: flex;
  height: fit-content;
  background: transparent;
  border: none;
  cursor: pointer;
}

.settingsIcon {
  color: var(--settings-icon-color);
}
