:root {
  --settings-icon-color: var(--color-black);
}

:global(.dark) {
  --settings-icon-color: var(--color-white);
}

.container {
  display: flex;
  position: relative;
}

.popupMenu {
  color: var(--color-white);
  position: absolute;
  top: 2rem;
  right: 0;
}

.settingsButton {
  display: flex;
  height: fit-content;
  background: transparent;
  border: none;
  cursor: pointer;
}

.settingsIcon {
  color: var(--settings-icon-color);
}
