@use './variables' as *;
@use './mixins' as *;
@use './reset' as *;

/* globals.scss */
// update these with variables later
:root {
  --color-brand: #4ec1a6;
  --color-red: #e71d36;
  --color-white: #ced4da;
  --color-black: #212529;
  --color-primary: var(--color-white);
  --color-secondary: #495057;
  --color-secondary-accent: #6c757d;
}

html.dark {
    --color-primary: var(--color-black);
}

body {
  font-family: var(--font-fira-sans), sans-serif;
  font-size: $font-size-base;
  line-height: 1.2rem;
  color: var(--color-black);
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
    transition: background-color 0.3s ease;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 600;
  color: var(--color-black);
}

.shim {
  height: 2000px;
  width: 100px;
  background-color: var(--color-red);
}