@use './_variables' as *;
@use './_mixins' as *;
@use './_reset' as *;

/* globals.scss */
// update these with variables later
:root {
  --color-brand: #4ec1a6;
  --color-red: #e71d36;
  --color-white: ##ced4da;
  --color-black: #212529;
  --color-seconary: #495057;
  --color-secondary-accent: ##6c757d;
}

html.dark {
  --color-brand: #4ec1a6;
  --color-red: #e71d36;
  --color-white: ##ced4da;
  --color-black: #212529;
  --color-seconary: #495057;
  --color-secondary-accent: ##6c757d;
}