// globals.scss
@use "./tokens" as *;
@use "./typography" as *;
@use "./mixins" as *;
@use "./reset" as *;

:root {
  // scss variables are source of truth. css variables for use with css modules
  // color palette

  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }

  @each $name, $value in $font-size {
    --font-size-#{$name}: #{$value};
  }

  @each $name, $value in $spacing {
    --spacing-#{$name}: #{$value};
  }

  @each $name, $value in $font-weight {
    --font-weight-#{$name}: #{$value};
  }

  --color-primary: var(--color-white);
  --color-secondary: var(--color-gray-dark);
  --color-secondary-accent: var(--color-gray);

  // header colors
  --header-bg: var(--color-white);
  --icon-color: var(--color-black);
  --text-color: var(--color-black);

  // chat colors
  --chatbox-bg: var(--color-white);
  --chatbox-bg-border: var(--color-gray-dark);
  --chatbox-text-color: var(--color-black);

  // sidebar colors
  --sidebar-bg: var(--color-white);
  --sidebar-text-color: var(--color-black);
  --sidebar-icon-color: var(--color-black);
  --sidebar-icon-color-hover: var(--color-gray-dark);
  --sidebar-border-color: var(--color-gray);
  --sidebar-border-color-accent: var(--color-gray-dark);

  // chat message
  --chatmessage-font-color: var(--color-black);
  --chatmessage-bg-color: var(--color-white);
  --chatmessage-border-color: var(--color-brand);

  // settings menu
  --settings-icon-color: var(--color-black);

  // chat list item
  --chatlistitem-bg: var(--color-black);
  --chatlistitem-options-hover: var(--color-gray);

  // input
  --header-bg: var(--color-white);
  --icon-color: var(--color-black);
  --text-color: var(--color-black);

  // button
  --button-bg: var(--color-white);
  --button-text: var(--color-black);
  --button-hover-bg: var(--color-brand);

  // chat id
  --chatlist-font-color: var(--color-black);
  --chatlist-bg-color: var(--color-white);

  // benefit
  --benefit-header-color: var(--color-black);
}

:root.dark {
  --color-primary: var(--color-black);

  // header colors
  --header-bg: var(--color-black);
  --icon-color: var(--color-white);
  --text-color: var(--color-white);

  // chat colors
  --chatbox-bg: var(--color-black);
  --chatbox-bg-border: var(--color-gray-dark);
  --chatbox-text-color: var(--color-white);

  // sidebar colors
  --sidebar-bg: var(--color-black);
  --sidebar-text-color: var(--color-white);
  --sidebar-icon-color: var(--color-white);
  --sidebar-icon-color-hover: var(--color-gray-dark);

  // chat message
  --chatmessage-font-color: var(--color-white);
  --chatmessage-bg-color: var(--color-gray-dark);

  // settings menu
  --settings-icon-color: var(--color-white);

  // chat list item
  --chatlistitem-bg: var(--color-white);

  // input
  --header-bg: var(--color-black);
  --icon-color: var(--color-white);
  --text-color: var(--color-white);

  // button
  --button-bg: var(--color-black);
  --button-text: var(--color-white);
  --button-hover-bg: var(--color-brand-dark);

  // chat id
  --chatlist-font-color: var(--color-white);
  --chatlist-bg-color: var(--color-black);

  // benefit
  --benefit-header-color: var(--color-white);
}

html {
  background-color: var(--color-primary);
  box-sizing: border-box;
}

body {
  font-family: var(--font-fira-sans), sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-black);
  background-color: var(--color-primary);
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

:root.dark body {
  background-color: var(--color-black);
  color: var(--color-white);
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem;
}
