// globals.scss
@use "./tokens" as *;
@use "./typography" as *;
@use "./mixins" as *;
@use "./reset" as *;

:root {
  // scss variables are source of truth. css variables for use with css modules
  // color palette

  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }

  @each $name, $value in $font-size {
    --font-size-#{$name}: #{$value};
  }

  @each $name, $value in $spacing {
    --spacing-#{$name}: #{$value};
  }

  @each $name, $value in $font-weight {
    --font-weight-#{$name}: #{$value};
  }

  --color-primary: var(--color-white);
  --color-secondary: var(--color-gray-dark);
  --color-secondary-accent: var(--color-gray);
}

:root.dark {
  --color-primary: var(--color-black);
}

html {
  background-color: var(--color-primary);
  box-sizing: border-box;
}

body {
  font-family: var(--font-fira-sans), sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-black);
  background-color: var(--color-primary);
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

:root.dark body {
  background-color: var(--color-black);
  color: var(--color-white);
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem;
}
