// scss variables

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Color palette
$colors: (
  "brand": #4ec1a6,
  "brand-dark": #2f917a,
  "red": #e71d36,
  "white": #ced4da,
  "black": #212529,
  "gray": #6c757d,
  "gray-dark": #495057,
);

$font-size: (
  "base": 16px,
  "sm": 0.875rem,
  "lg": 1.5rem,
  "xl": 2.25rem,
  "xxl": 4.5rem,
);

$spacing: (
  "xs": 0.25rem,
  // 4px
  "sm": 0.5rem,
  // 8px
  "md": 1rem,
  // 16px
  "lg": 1.5rem,
  // 24px
  "xl": 2rem,
  // 32px
  "xxl": 3rem, // 48px
);

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
