@use "@/styles/tokens" as *;

:root {
  --chatlistitem-bg: var(--color-black);

  --chatlistitem-options-hover: var(--color-gray);
}

:global(.dark) {
  --chatlistitem-bg: var(--color-white);
}
.item {
  border: 1px solid transparent;
  padding: var(--spacing-xs);
  border-radius: var(--spacing-xs);
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: var(--spacing-xs);
  transition: all 0.2s ease;
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--color-gray);
  }

  .chatLink {
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: var(--font-roboto);
    cursor: pointer;
  }

  // replace
  .renameInput {
    padding: 4px 8px;
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    width: 100%;
    font-size: inherit;
  }

  .spacer {
    flex-grow: 1;
  }

  .optionsButton {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--chatlistitem-options-hover);
    }

    .optionsIcon {
      color: var(--chatlistitem-bg);
    }
  }
}

.menuPopup {
  border: 1px solid var(--color-gray);
  border-radius: var(--spacing-xs);
  position: absolute;
  z-index: 9999;
  width: 5rem;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  button {
    background: none;
    color: var(--color-text);
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--color-gray-dark);
    }
  }
}
