@use "@/styles/tokens" as *;

:root {
  --chatbox-bg: var(--color-white);
  --chatbox-bg-border: var(--color-gray-dark);
  --chatbox-text-color: var(--color-black);
}

:global(.dark) {
  --chatbox-bg: var(--color-black);
  --chatbox-bg-border: var(--color-gray-dark);
  --chatbox-text-color: var(--color-white);
}

.chatbox {
  border: 1px solid var(--chatbox-bg-border);
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  border-radius: var(--spacing-md);
  justify-content: space-between;
  margin-bottom: var(--spacing-lg);
  flex: 0 0 auto;
  padding: var(--spacing-md);

  .buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      background: transparent;
      border: none;

      .icon {
        color: var(--chatbox-text-color);
        cursor: pointer;
        height: 1rem;
        width: 1rem;
        margin-left: var(--spacing-xs);

        &:hover {
          color: red;
          transition: 0.2s ease-in;
        }
      }
    }
  }

  &.chatboxActive {
    border: 1px solid var(--color-brand);
  }

  .input {
    textarea {
      resize: none;
      overflow: hidden;
      border: none;
      outline: none;
      overflow-y: auto;
      width: 100%;
      max-height: 10rem;
      color: var(--chatbox-text-color);
      background-color: transparent;
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-md);

    .fileButton {
      background-color: var(--color-gray);
      border: none;
      border-radius: 2px;
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;

      .fileIcon {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--color-white);
        margin: auto;
      }
    }

    .modelSelector {
      display: flex;
      flex-direction: row;
      .selectWrapper {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 2rem;
        height: rem;
        .modelSelect {
          background: none;
          width: 100%;
          height: 100%;
          color: transparent;
          border: none;
          outline: none;
          appearance: none;
          cursor: pointer;
        }

        .selectIcon {
          pointer-events: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--chatbox-text-color);
        }
      }
    }

    .spacer {
      flex-grow: 1;
    }

    .sendButton {
      background-color: var(--color-gray);
      cursor: pointer;
      border: 1px solid var(--color-brand);
      border-radius: 2px;
      height: 1.5rem;
      width: 1.5rem;

      .sendIcon {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--color-brand);
        fill: var(--color-brand);
        margin: auto;
        pointer-events: none;
      }
    }
  }
}
