:root {
  --header-bg: var(--color-white);
  --icon-color: var(--color-black);
}

:global(.dark) {
  --header-bg: var(--color-black);
  --icon-color: var(--color-white);
}

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-bg);
  transition: background-color 0.3s ease;
  position: sticky;
  z-index: 1000;
  height: 4rem;
  padding: var(--spacing-md) var(--spacing-md);
  top: 0;
  box-shadow: 4px 4px 4px 0px #00000033;  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.spacer {
  flex-grow: 1;
}

.profileIcon {
  color: var(--icon-color);      // used by SVG as `currentColor`
  stroke: currentColor;
  margin-right: var(--spacing-md);
}
