
.header {
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
    transition: background-color 0.3s ease; // <-- add this line
}

.profileLink {

}

.profileIcon {

}

:global(.dark) .header {
  background-color: var(--color-black);
}