@use "@/styles/tokens" as *;

// lots of these styles are shared with login. figure out how to share them
.signupContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;

  .header {
    font-family: var(--font-roboto), sans-serif;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    margin-bottom: var(--spacing-lg);
    text-align: center;
  }

  .input {
    font-family: var(--font-roboto), sans-serif;
    display: flex;
    margin-bottom: var(--spacing-lg);
    position: relative;
    width: 350px;
    label {
      display: block;
      background-color: var(--color-primary);
      font-size: 1rem;
      position: absolute;
      top: -0.6rem;
      left: 1.5rem;
      padding: 0 0.3rem;
    }
    input {
      background-color: transparent;
      width: 100%;
      border: 1px solid var(--color-brand-dark);
      height: var(--spacing-xxl);
      border-radius: var(--spacing-sm);
      color: var(--text-color);
      padding: 0 var(--spacing-sm);

      &:focus,
      &:active {
        border: 1px solid var(--color-brand);
        outline: var(--color-brand);
      }
    }
  }
}
