@use "@/styles/tokens" as *;

.sidebar {
  // hide on mobile. use header component instead

  display: flex;
  max-width: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: var(--sidebar-bg);
  transition: all 0.3s ease;
  border-right: 1px solid var(--sidebar-border-color-accent);
  padding: var(--spacing-md) 0;
  overflow-y: auto;

  .searchInput {
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    border: none;
    margin-right: 0;
    border-radius: var(--spacing-xs);
  }

  .closeButton {
    display: none;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    margin-left: 1rem;
    .closeIcon {
      background-color: transparent;
      color: var(--sidebar-icon-color);

      &:hover {
        color: var(--sidebar-border-color);
      }
    }
  }

  .openButton {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    //border: none;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    z-index: 99;
    padding: 0.25rem;
    inset: none;
    border: 1px solid var(--sidebar-border-color-accent);
    border-radius: 25%;
    opacity: 1;
    transition: all 0.3s ease;

    .openIcon {
      background-color: transparent;
      color: var(--sidebar-icon-color);

      &:hover {
        color: var(--sidebar-icon-color-hover);
      }
    }
  }

  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .chatList {
    //overflow: hidden;
    opacity: 0;
    width: 0;
    transition: all 0.3s ease;
    text-wrap: nowrap;
  }

  .chatsTitle {
    overflow: hidden;
    opacity: 0;

    text-wrap: nowrap;

    transition: all 0.3s ease;
    margin-top: var(--spacing-md);
    font-size: var(--font-size-base);
    color: var(--color-brand);
  }

  &.open {
    max-width: 300px;
    transition: all 0.3s ease;
    padding: var(--spacing-md);
    border-right: 1px solid var(--sidebar-border-color);

    .chatsTitle {
      opacity: 1;
    }

    .searchInput {
      width: 100%;
      margin-right: var(--spacing-md);
    }

    .topbar {
      justify-content: center;
    }

    .closeButton {
      display: block;
    }

    .openButton {
      opacity: 0;
      left: 300px;
    }

    .chatList {
      width: 100%;
      opacity: 1;
      //overflow-y: auto;
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    display: none;
  }
}
