/* ThemeToggle.module.scss */

// container for switch
.switch {
  display: inline-block;
  height: 2.5rem;
  margin-right: 1rem;
  position: relative;
  width: 5rem;
}

// hides input checkbox, but keeps it accessible
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

// track for inside the switch
.slider {
  background-color: var(--color-secondary-accent);
  border-radius: 50px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s; // this is for transitioning the background color
}

input:checked + .slider {
  background-color: var(
    --color-secondary
  ); // this is for the background color when checked
}
// the circle inside the switch
.slider:before {
  background-color: var(--color-white);
  border-radius: 50%;
  top: 0.313rem;
  content: "";
  height: 1.875rem;
  left: 0.375rem;
  position: absolute;
  transition: 0.4s;
  width: 1.875rem;
  cursor: pointer;
}

input:checked + .slider:before {
  transform: translateX(38px);
}

.sun {
  color: var(--color-brand);
  height: 1.875rem;
  opacity: 1;
  position: absolute;
  right: 0.375rem;
  top: 0.313rem;
  transition: opacity 0.4s ease;
  width: 1.875rem;
  pointer-events: none;
}

input:checked ~ .sun {
  opacity: 0;
}

.moon {
  color: var(--color-brand);
  height: 1.875rem;
  left: 0.375rem;
  opacity: 0;
  position: absolute;
  top: 0.313rem;
  transition: opacity 0.4s ease;
  width: 1.875rem;
  pointer-events: none;
}

input:checked ~ .moon {
  opacity: 1;
}
