/* ThemeToggle.module.scss */
.toggleButton {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #ccc;
  color: #111;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #bbb;
  }

  &.dark {
    background-color: #444;
    color: white;
  }
}
