/* ThemeToggle.module.scss */

// container for switch 
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}



// hides input checkbox, but keeps it accessible
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// track for inside the switch
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF4A3;
  transition: 0.4s; // this is for transitioning the background color
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #0A369D; // this is for the background color when checked
}
// the circle inside the switch
.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}


input:checked + .slider:before {
  transform: translateX(40px);
}

.sun {
  position: absolute;
  top: 6px;
  right:4px;
  height: 28px;
  width: 28px;
  opacity: 1;
  transition: opacity 0.4s ease;
}

input:checked ~ .sun {
  opacity: 0;
}

.moon {
  position: absolute;
  top:6px;
  left:4px;
  height: 28px;
  width: 28px;
  opacity: 0;
  color: black;
  transition: opacity 0.4s ease;
}

input:checked ~ .moon {
  opacity: 1;
}