/* ThemeToggle.module.scss */

// container for switch 
.switch {
  display: inline-block;
  height: 40px;
  margin-right: 12px;
  position: relative;
  width: 80px;
}



// hides input checkbox, but keeps it accessible
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

// track for inside the switch
.slider {
  background-color: var(--color-secondary);
  border-radius: 50px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s; // this is for transitioning the background color
}

input:checked + .slider {
  background-color: var(--color-secondary); // this is for the background color when checked
}
// the circle inside the switch
.slider:before {
  background-color: white;
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 30px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 30px;
}


input:checked + .slider:before {
  transform: translateX(40px);
}

.sun {
  height: 28px;
  opacity: 1;
  position: absolute;
  right:4px;
  top: 6px;
  transition: opacity 0.4s ease;
  width: 28px;
}

input:checked ~ .sun {
  opacity: 0;
}

.moon {
  color: var(--color-brand);
  height: 28px;
  left:4px;
  opacity: 0;
  position: absolute;
  top:6px;
  transition: opacity 0.4s ease;
  width: 28px;
}

input:checked ~ .moon {
  opacity: 1;
}